version: "3.8"

services:
  web:
    build: .
    command: uvicorn main:asgi_app --host 0.0.0.0 --port 8000 --log-level debug
    ports:
      - "8000:8000"
    volumes:
      - shared-uploads:/app/uploads
    environment:
      - HOST=${HOST}
      - PORT=${PORT}
      - DEBUG=${DEBUG}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - MONGO_URI=${MONGO_URI}
      - DB_NAME=${DB_NAME}
      - CELERY_BROKER_URL=${CELERY_BROKER_URL}
      - CELERY_RESULT_BACKEND=${CELERY_RESULT_BACKEND}
      - JWT_ACCESS_TOKEN_EXPIRY_MINUTES=${JWT_ACCESS_TOKEN_EXPIRY_MINUTES}
    depends_on:
      - mongo

  worker:
    build: .
    command: celery -A app.celery_app worker --loglevel=info
    volumes:
      - shared-uploads:/app/uploads
    environment:
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - MONGO_URI=${MONGO_URI}
      - DB_NAME=${DB_NAME}
      - CELERY_BROKER_URL=${CELERY_BROKER_URL}
      - CELERY_RESULT_BACKEND=${CELERY_RESULT_BACKEND}
    depends_on:
      - mongo

  mongo:
    image: mongo:5
    ports:
      - "27017:27017"

volumes:
  shared-uploads:
